<form class="form">
    <input [(ngModel)]="exchangeTo.amount" class="form__input" type="number" name="currencyAmount" required>
    <select [(ngModel)]="exchangeTo.currency" class="form__select" name="exchangeToCurrency">
      <option value=980>UAH</option>
      <option value=978>EUR</option>
      <option value=840>USD</option>
    </select>
  <input [(ngModel)]="exchangeFrom.amount" class="form__input" type="number" name="currencyAmount" required>
  <select [(ngModel)]="exchangeFrom.currency" class="form__select" name="exchangeFromCurrency">
    <option value=980>UAH</option>
    <option value=978>EUR</option>
    <option value=840>USD</option>
  </select>
</form>
